<div class="table-top">
  <app-super-heroes-input-search-autocomplete [allHeroes]="allSuperHeroes()" (selectedHero)="selectedHero($event)"/>
  <!-- <app-super-heroes-input-serch [(searchValue)]="searchedValue" /> -->
  <button mat-raised-button (click)="goToAddSuperHero()" [class]="'add-super-hero-button'">
    Add super hero
  </button>
</div>

<table mat-table [dataSource]="superHeroesData">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>

    <td mat-cell *matCellDef="let superHero">
      {{ superHero.id }}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>

    <td mat-cell *matCellDef="let superHero">
      {{ superHero.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="power">
    <th mat-header-cell *matHeaderCellDef>Power</th>

    <td mat-cell *matCellDef="let superHero">
      {{ superHero.power }}
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>

    <td mat-cell *matCellDef="let superHero">
      {{ superHero.description }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>

    <td mat-cell *matCellDef="let superHero">
      <button mat-raised-button style="margin-right: 8px" (click)="goToEditSuperHero(superHero)">
        Edit
      </button>
      <button mat-raised-button (click)="openDeleteDialog(superHero)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>

  <tr mat-row *matRowDef="let row; columns: columns"></tr>

   <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="columns.length" [style.textAlign]="'center'">
      No super heroes found, add a new super hero to see here.
    </td>
  </tr>
</table>

<mat-paginator [pageSize]="5" [pageSizeOptions]="[1, 2, 5]" showFirstLastButtons> </mat-paginator>
